%h1 Index

%h2
  There are #{pluralize(@bug_archives.size, 'bug archive')} on the index page.
%p   
  - if logged_in?
    %nav= link_to "New Entry", new_bug_archive_path, class: "btn btn-small btn-primary"
  - else 
- @bug_archives.each do |bug_archive|
  %article
    %header
  .well    
    %table
      %tr
        = link_to bug_archive.title, bug_archive
        %th Error:
        %td= truncate(bug_archive.error,length: 150, seperator: ' ')
      %tr
        %th Solution:
        %td= truncate(bug_archive.solution,length: 150, seperator: ' ')
      %tr
        %th Note:
        %td= truncate(bug_archive.note,length: 150, seperator: ' ')
      %tr
        %th Date: 
        %td= bug_archive.created_at

   


