%body
  %article
    %h1= @bug_archive.title
  %h4 What was the error message?
  %p
    = @bug_archive.error
  %h4 What was the solution?
  %p
    = @bug_archive.solution
  %h4 Add a brief note to help quickly resolve the issue next time:
  %p
    = @bug_archive.note
  %h4 Date:
  %p
    = @bug_archive.created_at 
    
  = link_to "Back", bug_archives_path, class: "btn btn-primary btn-small"
  - if current_user
    = link_to 'Edit', edit_bug_archive_path(@bug_archive), class: "btn btn-success btn-small"
    = link_to 'Delete', bug_archive_path(@bug_archive), method: :delete, data: { confirm: 'Are your sure?'}, class: "btn btn-danger btn-small"   
